<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="priya"></property>
        <property name="gender" value="female"></property>
        <property name="age" value="21"></property>
    </bean>


    <bean id="movieObj1" class="com.stackroute.domain.Movie" autowire="byName"/>
    <bean id="movieObj2" class="com.stackroute.domain.Movie" autowire="byType"/>
    <bean id="movieObj3" class="com.stackroute.domain.Movie" autowire="constructor"/>

  <bean id="beanlifecycleObj" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"></bean>
   <bean id="beanpostprocessor" class="com.stackroute.demo.BeanPostProcessorDemoBean" init-method="" destroy-method=""></bean>
</beans>