<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="movieA,movieB" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorref1"> </constructor-arg>
    </bean>
    <bean name="movieC,movieD" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorref2"></constructor-arg>
    </bean>
    <bean name="movieE,movieF" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorref3"></constructor-arg>
    </bean>

    <bean id="actorref1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="priya" type="String"/>
        <constructor-arg name="gender" value="female" type="String"/>
        <constructor-arg name="age" value="21" type="int"/>
    </bean>
    <bean id="actorref2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="swetha" type="String"/>
        <constructor-arg name="gender" value="female" type="String"/>
        <constructor-arg name="age" value="22" type="int"/>
    </bean>
    <bean id="actorref3" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="gowtham" type="String"/>
        <constructor-arg name="gender" value="male" type="String"/>
        <constructor-arg name="age" value="17" type="int"/>
    </bean>
</beans>